# Importar datos

In [5]:
import pandas as pd

df = pd.read_csv('data/data_2015_clean.csv')

In [15]:
df

,InfoDate,EmployeeID,Age,DistanceFromHome,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,...,Gender,JobLevel,JobRole,MaritalStatus,retirementType,resignationReason,Attrition,retirementDate,JobInvolvement,PerformanceRating
0,2015-12-31,2532,32,9,43270,8.0,13,0,4,0,...,Male,4,Sales Executive,Single,NaN,NaN,No,NaN,3,3
1,2015-12-31,1062,32,9,43270,8.0,13,0,4,0,...,Male,4,Sales Executive,Single,NaN,NaN,No,NaN,3,3
2,2015-12-31,4002,32,9,43270,8.0,13,0,4,0,...,Male,4,Sales Executive,Single,NaN,NaN,No,NaN,3,3
3,2015-12-31,421,48,1,21770,4.0,18,0,4,0,...,Male,1,Research Scientist,Married,NaN,NaN,No,NaN,3,3
4,2015-12-31,1891,48,1,21770,4.0,18,0,4,0,...,Male,1,Research Scientist,Married,NaN,NaN,No,NaN,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4348,2015-12-31,2745,50,2,83760,5.0,14,3,2,27,...,Female,4,Research Scientist,Divorced,NaN,NaN,No,NaN,3,3
4349,2015-12-31,4215,50,2,83760,5.0,14,3,2,27,...,Female,4,Research Scientist,Divorced,NaN,NaN,No,NaN,3,3
4350,2015-12-31,168,50,10,47870,0.0,12,0,3,27,...,Female,3,Manager,Married,NaN,NaN,No,NaN,3,3
4351,2015-12-31,3108,50,10,47870,0.0,12,0,3,27,...,Female,3,Manager,Married,NaN,NaN,No,NaN,3,3
4352,2015-12-31,1638,50,10,47870,0.0,12,0,3,27,...,Female,3,Manager,Married,NaN,NaN,No,NaN,3,3

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4353 entries, 0 to 4352
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   InfoDate                 4353 non-null   object
 1   EmployeeID               4353 non-null   int64
 2   Age                      4353 non-null   int64
 3   DistanceFromHome         4353 non-null   int64
 4   MonthlyIncome            4353 non-null   int64
 5   NumCompaniesWorked       4353 non-null   float64
 6   PercentSalaryHike        4353 non-null   int64
 7   StockOptionLevel         4353 non-null   int64
 8   TrainingTimesLastYear    4353 non-null   int64
 9   YearsAtCompany           4353 non-null   int64
 10  EnvironmentSatisfaction  4353 non-null   int64
 11  JobSatisfaction          4353 non-null   int64
 12  WorkLifeBalance          4353 non-null   int64
 13  BusinessTravel           4353 non-null   object
 14  Department               4353 non-null   object
 15  Education                4353 non-null   object
 16  EducationField           4353 non-null   object
 17  Gender                   4353 non-null   object
 18  JobLevel                 4353 non-null   int64
 19  JobRole                  4353 non-null   object
 20  MaritalStatus            4353 non-null   object
 21  retirementType           639 non-null    object
 22  resignationReason        577 non-null    object
 23  Attrition                4353 non-null   object
 24  retirementDate           639 non-null    object
 25  JobInvolvement           4353 non-null   int64
 26  PerformanceRating        4353 non-null   int64
dtypes: float64(1), int64(14), object(12)
memory usage: 918.3+ KB

# Obtener dummies

In [61]:
df2 = pd.get_dummies(df.drop(['Attrition','retirementDate','retirementType','resignationReason','InfoDate','EmployeeID'], axis=1))
df2['target'] = df['Attrition']

In [49]:
pd.set_option('display.max_columns',None)

In [50]:
df2

,EmployeeID,Age,DistanceFromHome,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TrainingTimesLastYear,YearsAtCompany,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobLevel,JobInvolvement,PerformanceRating,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,Education_Bachelor,Education_Below College,Education_College,Education_Doctor,Education_Master,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,target
0,2532,32,9,43270,8.0,13,0,4,0,4,4,0,4,3,3,False,True,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,0
1,1062,32,9,43270,8.0,13,0,4,0,4,4,0,4,3,3,False,True,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,0
2,4002,32,9,43270,8.0,13,0,4,0,4,4,0,4,3,3,False,True,False,False,False,True,False,False,False,False,True,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,True,0
3,421,48,1,21770,4.0,18,0,4,0,4,3,0,1,3,3,False,False,True,False,True,False,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,0
4,1891,48,1,21770,4.0,18,0,4,0,4,3,0,1,3,3,False,False,True,False,True,False,False,False,False,False,True,False,False,False,True,False,False,False,True,False,False,False,False,False,False,True,False,False,False,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4348,2745,50,2,83760,5.0,14,3,2,27,2,3,3,4,3,3,False,False,True,False,False,True,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False,0
4349,4215,50,2,83760,5.0,14,3,2,27,2,3,3,4,3,3,False,False,True,False,False,True,False,False,False,False,True,False,False,True,False,False,False,True,False,False,False,False,False,False,False,True,False,False,True,False,False,0
4350,168,50,10,47870,0.0,12,0,3,27,2,3,0,3,3,3,False,False,True,False,False,True,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,0
4351,3108,50,10,47870,0.0,12,0,3,27,2,3,0,3,3,3,False,False,True,False,False,True,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,0
4352,1638,50,10,47870,0.0,12,0,3,27,2,3,0,3,3,3,False,False,True,False,False,True,False,False,False,False,True,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,0

In [42]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4353 entries, 0 to 4352
Data columns (total 47 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   EmployeeID                         4353 non-null   int64
 1   Age                                4353 non-null   int64
 2   DistanceFromHome                   4353 non-null   int64
 3   MonthlyIncome                      4353 non-null   int64
 4   NumCompaniesWorked                 4353 non-null   float64
 5   PercentSalaryHike                  4353 non-null   int64
 6   StockOptionLevel                   4353 non-null   int64
 7   TrainingTimesLastYear              4353 non-null   int64
 8   YearsAtCompany                     4353 non-null   int64
 9   EnvironmentSatisfaction            4353 non-null   int64
 10  JobSatisfaction                    4353 non-null   int64
 11  WorkLifeBalance                    4353 non-null   int64
 12  JobLevel                           4353 non-null   int64
 13  JobInvolvement                     4353 non-null   int64
 14  PerformanceRating                  4353 non-null   int64
 15  BusinessTravel_Non-Travel          4353 non-null   bool
 16  BusinessTravel_Travel_Frequently   4353 non-null   bool
 17  BusinessTravel_Travel_Rarely       4353 non-null   bool
 18  Department_Human Resources         4353 non-null   bool
 19  Department_Research & Development  4353 non-null   bool
 20  Department_Sales                   4353 non-null   bool
 21  Education_Bachelor                 4353 non-null   bool
 22  Education_Below College            4353 non-null   bool
 23  Education_College                  4353 non-null   bool
 24  Education_Doctor                   4353 non-null   bool
 25  Education_Master                   4353 non-null   bool
 26  EducationField_Human Resources     4353 non-null   bool
 27  EducationField_Life Sciences       4353 non-null   bool
 28  EducationField_Marketing           4353 non-null   bool
 29  EducationField_Medical             4353 non-null   bool
 30  EducationField_Other               4353 non-null   bool
 31  EducationField_Technical Degree    4353 non-null   bool
 32  Gender_Female                      4353 non-null   bool
 33  Gender_Male                        4353 non-null   bool
 34  JobRole_Healthcare Representative  4353 non-null   bool
 35  JobRole_Human Resources            4353 non-null   bool
 36  JobRole_Laboratory Technician      4353 non-null   bool
 37  JobRole_Manager                    4353 non-null   bool
 38  JobRole_Manufacturing Director     4353 non-null   bool
 39  JobRole_Research Director          4353 non-null   bool
 40  JobRole_Research Scientist         4353 non-null   bool
 41  JobRole_Sales Executive            4353 non-null   bool
 42  JobRole_Sales Representative       4353 non-null   bool
 43  MaritalStatus_Divorced             4353 non-null   bool
 44  MaritalStatus_Married              4353 non-null   bool
 45  MaritalStatus_Single               4353 non-null   bool
 46  target                             4353 non-null   object
dtypes: bool(31), float64(1), int64(14), object(1)
memory usage: 676.0+ KB

# Binarizar variable objetivo

In [62]:
df2.target.replace({'Sí':1, 'No':0}, inplace=True)

# Separar variable objetivo de los datos

In [63]:
X = df2.drop('target',axis=1)
y = df2['target']

print(X.shape)
print(y.shape)

(4353, 45)
(4353,)

In [64]:
from sklearn.feature_selection import SelectKBest, f_classif,chi2
def select_kbest(X,y,score_f,k):
    sel_kb = SelectKBest(score_func=score_f,k=k)
    sel_kb.fit(X,y)
    new_cols= sel_kb.get_support()
    print('Score:\n', sel_kb.scores_, '\n P-values:\n', sel_kb.pvalues_)
    return new_cols

In [65]:
X_new= select_kbest(X,y,f_classif,30)
# Nuevo conjunto de datos
df_anova = X.iloc[:,X_new]
df_anova.head()

Score:
 [9.36130542e+01 8.12374511e-03 1.94697108e+00 7.74182132e+00
 8.61684071e-01 3.63447303e-01 1.03433937e+01 8.27399526e+01
 3.18519561e+01 4.78817564e+01 3.63447303e-01 4.68512298e-01
 1.69900005e+00 2.13286553e-01 1.65972031e+01 5.49753660e+01
 1.33219287e+01 2.54680775e+01 3.81552795e-01 2.53004278e+00
 1.26661207e-01 6.57734788e-01 5.17716730e+00 8.67680128e-01
 4.50114767e-01 3.28362502e+01 2.22998544e-01 1.41703332e-02
 4.18179343e-02 2.97912298e+00 2.80247805e+00 8.73949656e-01
 8.73949656e-01 6.30794492e-01 6.33811679e-01 1.07594314e-01
 3.81957900e+00 4.97271525e+00 4.35070875e+00 1.53682556e+00
 2.06748666e+00 4.87580155e-01 2.15360395e+01 3.01900480e+01
 1.01679456e+02]
 P-values:
 [6.36980385e-22 9.28186611e-01 1.62984831e-01 5.41889701e-03
 3.53319336e-01 5.46629317e-01 1.30890042e-03 1.39313799e-19
 1.76955557e-08 5.18768864e-12 5.46629317e-01 4.93708835e-01
 1.92487766e-01 6.44226632e-01 4.70422805e-05 1.45891690e-13
 2.65399383e-04 4.68117929e-07 5.36805703e-01 1.11769837e-01
 7.21936501e-01 4.17405149e-01 2.29340282e-02 3.51650030e-01
 5.02316070e-01 1.07028959e-08 6.36788298e-01 9.05249788e-01
 8.37976781e-01 8.44159568e-02 9.41906136e-02 3.49916072e-01
 3.49916072e-01 4.27107354e-01 4.26004036e-01 7.42915558e-01
 5.07209287e-02 2.58010166e-02 3.70516655e-02 2.15157791e-01
 1.50541228e-01 4.85046048e-01 3.57454592e-06 4.14085877e-08
 1.18514448e-23]

,Age,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TrainingTimesLastYear,YearsAtCompany,EnvironmentSatisfaction,JobSatisfaction,JobInvolvement,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Sales,Education_Below College,Education_College,Education_Doctor,EducationField_Human Resources,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,32,43270,8.0,13,4,0,4,4,3,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,True
1,32,43270,8.0,13,4,0,4,4,3,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,True
2,32,43270,8.0,13,4,0,4,4,3,False,True,False,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,True
3,48,21770,4.0,18,4,0,4,3,3,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,True,False
4,48,21770,4.0,18,4,0,4,3,3,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,True,False

In [67]:
X_new= select_kbest(X,y,chi2,30)
# Nuevo conjunto de datos
df_chi2 = X.iloc[:,X_new]
df_chi2.head()

Score:
 [2.01881006e+02 5.82129840e-02 6.64732132e+04 1.78798873e+01
 7.56779058e-01 3.32617257e-01 6.12871063e+00 3.53400332e+02
 1.37519692e+01 2.10285054e+01 3.32617257e-01 2.78297565e-01
 3.14318234e-01 8.76976827e-03 1.48658989e+01 4.40953313e+01
 3.84610266e+00 2.42316573e+01 1.32580381e-01 1.76087670e+00
 7.75489846e-02 5.81760182e-01 4.17864553e+00 8.39793157e-01
 3.28008799e-01 3.19985631e+01 1.31147789e-01 1.26330828e-02
 2.86312178e-02 2.81423785e+00 2.55092429e+00 5.25348925e-01
 3.48826866e-01 5.74025304e-01 6.11726346e-01 8.85757995e-02
 3.56011790e+00 4.47958147e+00 4.11161314e+00 1.23086239e+00
 1.61007837e+00 4.60185548e-01 1.66819816e+01 1.62692562e+01
 6.75476045e+01]
 P-values:
 [8.11640462e-46 8.09343016e-01 0.00000000e+00 2.35294690e-05
 3.84338392e-01 5.64122001e-01 1.33003834e-02 7.70334139e-79
 2.08602024e-04 4.52500748e-06 5.64122001e-01 5.97819230e-01
 5.75042354e-01 9.25389541e-01 1.15430974e-04 3.12766038e-11
 4.98617255e-02 8.54166854e-07 7.15771472e-01 1.84515201e-01
 7.80646845e-01 4.45623212e-01 4.09364046e-02 3.59455935e-01
 5.66833938e-01 1.54286656e-08 7.17244928e-01 9.10508644e-01
 8.65633338e-01 9.34312632e-02 1.10229751e-01 4.68568859e-01
 5.54777965e-01 4.48663787e-01 4.34138550e-01 7.65995600e-01
 5.91835350e-02 3.43021202e-02 4.25897211e-02 2.67239389e-01
 2.04480787e-01 4.97537270e-01 4.41988139e-05 5.49482956e-05
 2.05660970e-16]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4353 entries, 0 to 4352
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4353 non-null   int64
 1   MonthlyIncome                      4353 non-null   int64
 2   NumCompaniesWorked                 4353 non-null   float64
 3   PercentSalaryHike                  4353 non-null   int64
 4   TrainingTimesLastYear              4353 non-null   int64
 5   YearsAtCompany                     4353 non-null   int64
 6   EnvironmentSatisfaction            4353 non-null   int64
 7   JobSatisfaction                    4353 non-null   int64
 8   BusinessTravel_Non-Travel          4353 non-null   bool
 9   BusinessTravel_Travel_Frequently   4353 non-null   bool
 10  BusinessTravel_Travel_Rarely       4353 non-null   bool
 11  Department_Human Resources         4353 non-null   bool
 12  Department_Sales                   4353 non-null   bool
 13  Education_Below College            4353 non-null   bool
 14  Education_College                  4353 non-null   bool
 15  Education_Doctor                   4353 non-null   bool
 16  EducationField_Human Resources     4353 non-null   bool
 17  EducationField_Other               4353 non-null   bool
 18  EducationField_Technical Degree    4353 non-null   bool
 19  Gender_Female                      4353 non-null   bool
 20  JobRole_Healthcare Representative  4353 non-null   bool
 21  JobRole_Human Resources            4353 non-null   bool
 22  JobRole_Manager                    4353 non-null   bool
 23  JobRole_Manufacturing Director     4353 non-null   bool
 24  JobRole_Research Director          4353 non-null   bool
 25  JobRole_Research Scientist         4353 non-null   bool
 26  JobRole_Sales Executive            4353 non-null   bool
 27  MaritalStatus_Divorced             4353 non-null   bool
 28  MaritalStatus_Married              4353 non-null   bool
 29  MaritalStatus_Single               4353 non-null   bool
dtypes: bool(22), float64(1), int64(7)
memory usage: 365.7 KB

# RFE

In [70]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Función recursiva de selección de características
def recursive_feature_selection(X,y,model,k):
  rfe = RFE(model, n_features_to_select=k, step=1)
  fit = rfe.fit(X, y)
  X_new = fit.support_
  print("Num Features: %s" % (fit.n_features_))
  print("Selected Features: %s" % (fit.support_))
  print("Feature Ranking: %s" % (fit.ranking_))

  return X_new

In [72]:
model= LogisticRegression(max_iter=1000,random_state=42)
X_new=recursive_feature_selection(X,y,model,30)
df_log= X.iloc[:,X_new]
df_log.info()

Num Features: 30
Selected Features: [False False False  True False False  True  True  True  True False  True
  True False  True  True  True  True  True  True False False  True  True
 False  True False False  True  True  True  True False False  True False
  True  True  True  True  True  True  True  True  True]
Feature Ranking: [ 3 15 16  1 13 12  1  1  1  1  9  1  1  7  1  1  1  1  1  1  6  4  1  1
  5  1 11 14  1  1  1  1  8 10  1  2  1  1  1  1  1  1  1  1  1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4353 entries, 0 to 4352
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NumCompaniesWorked                 4353 non-null   float64
 1   TrainingTimesLastYear              4353 non-null   int64
 2   YearsAtCompany                     4353 non-null   int64
 3   EnvironmentSatisfaction            4353 non-null   int64
 4   JobSatisfaction                    4353 non-null   int64
 5   JobLevel                           4353 non-null   int64
 6   JobInvolvement                     4353 non-null   int64
 7   BusinessTravel_Non-Travel          4353 non-null   bool
 8   BusinessTravel_Travel_Frequently   4353 non-null   bool
 9   BusinessTravel_Travel_Rarely       4353 non-null   bool
 10  Department_Human Resources         4353 non-null   bool
 11  Department_Research & Development  4353 non-null   bool
 12  Department_Sales                   4353 non-null   bool
 13  Education_College                  4353 non-null   bool
 14  Education_Doctor                   4353 non-null   bool
 15  EducationField_Human Resources     4353 non-null   bool
 16  EducationField_Medical             4353 non-null   bool
 17  EducationField_Other               4353 non-null   bool
 18  EducationField_Technical Degree    4353 non-null   bool
 19  Gender_Female                      4353 non-null   bool
 20  JobRole_Human Resources            4353 non-null   bool
 21  JobRole_Manager                    4353 non-null   bool
 22  JobRole_Manufacturing Director     4353 non-null   bool
 23  JobRole_Research Director          4353 non-null   bool
 24  JobRole_Research Scientist         4353 non-null   bool
 25  JobRole_Sales Executive            4353 non-null   bool
 26  JobRole_Sales Representative       4353 non-null   bool
 27  MaritalStatus_Divorced             4353 non-null   bool
 28  MaritalStatus_Married              4353 non-null   bool
 29  MaritalStatus_Single               4353 non-null   bool
dtypes: bool(23), float64(1), int64(6)
memory usage: 336.0 KB

In [74]:
model=RandomForestClassifier(n_estimators=300,random_state=42,n_jobs=-1)
X_new=recursive_feature_selection(X,y,model,30)
df_ranfor = X.iloc[:,X_new]
df_ranfor.info()

Num Features: 30
Selected Features: [ True  True  True  True  True  True  True  True  True  True  True  True
  True False False  True  True  True  True  True  True False  True False
  True False  True False  True False False  True  True False False  True
 False False False  True  True False False  True  True]
Feature Ranking: [ 1  1  1  1  1  1  1  1  1  1  1  1  1  2 11  1  1  1  1  1  1  4  1 16
  1  8  1  7  1 15 10  1  1  6 14  1 13  9  5  1  1 12  3  1  1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4353 entries, 0 to 4352
Data columns (total 30 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4353 non-null   int64
 1   DistanceFromHome                   4353 non-null   int64
 2   MonthlyIncome                      4353 non-null   int64
 3   NumCompaniesWorked                 4353 non-null   float64
 4   PercentSalaryHike                  4353 non-null   int64
 5   StockOptionLevel                   4353 non-null   int64
 6   TrainingTimesLastYear              4353 non-null   int64
 7   YearsAtCompany                     4353 non-null   int64
 8   EnvironmentSatisfaction            4353 non-null   int64
 9   JobSatisfaction                    4353 non-null   int64
 10  WorkLifeBalance                    4353 non-null   int64
 11  JobLevel                           4353 non-null   int64
 12  JobInvolvement                     4353 non-null   int64
 13  BusinessTravel_Travel_Frequently   4353 non-null   bool
 14  BusinessTravel_Travel_Rarely       4353 non-null   bool
 15  Department_Human Resources         4353 non-null   bool
 16  Department_Research & Development  4353 non-null   bool
 17  Department_Sales                   4353 non-null   bool
 18  Education_Bachelor                 4353 non-null   bool
 19  Education_College                  4353 non-null   bool
 20  Education_Master                   4353 non-null   bool
 21  EducationField_Life Sciences       4353 non-null   bool
 22  EducationField_Medical             4353 non-null   bool
 23  Gender_Female                      4353 non-null   bool
 24  Gender_Male                        4353 non-null   bool
 25  JobRole_Laboratory Technician      4353 non-null   bool
 26  JobRole_Research Scientist         4353 non-null   bool
 27  JobRole_Sales Executive            4353 non-null   bool
 28  MaritalStatus_Married              4353 non-null   bool
 29  MaritalStatus_Single               4353 non-null   bool
dtypes: bool(17), float64(1), int64(12)
memory usage: 514.5 KB

# Select From Model

In [78]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import RidgeClassifier

# Selector de variables con Ridge
sel_ = SelectFromModel(RidgeClassifier(alpha=0.1,random_state=24), max_features=30)
sel_.fit(X, y)
print(sel_.estimator_.coef_)
#Obtener variables seleccionadas
X_new = sel_.get_support()

df_ridge = X.iloc[:,X_new]
df_ridge.info()

[[-9.99424001e-03  3.82916026e-04 -2.88975159e-08  2.24808839e-02
   1.17594168e-03  2.18811959e-04 -2.62544836e-02 -1.06513479e-02
  -5.46019666e-02 -6.50873602e-02  2.18811959e-04 -1.19664849e-02
  -2.26040577e-02 -5.13726442e-03 -1.23240648e-01  1.58055713e-01
  -3.48150651e-02  1.00277004e-01 -3.21642993e-02 -6.81127046e-02
   7.67378569e-03  1.29191147e-02  5.85367957e-02 -8.89049522e-02
   9.77525609e-03  2.29359663e-01 -1.86212051e-02 -1.78557142e-02
  -4.30331811e-02 -1.00715384e-01 -4.91341786e-02 -7.23102999e-03
   7.23102999e-03 -6.17091706e-03 -1.49505027e-02  1.99845305e-02
  -7.42888548e-02 -6.36633384e-02  9.67763985e-02  2.69425064e-02
   5.27099190e-02 -3.73397414e-02 -7.27247030e-02 -5.26289603e-02
   1.25353663e-01]]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4353 entries, 0 to 4352
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   EnvironmentSatisfaction           4353 non-null   int64
 1   JobSatisfaction                   4353 non-null   int64
 2   BusinessTravel_Non-Travel         4353 non-null   bool
 3   BusinessTravel_Travel_Frequently  4353 non-null   bool
 4   Department_Human Resources        4353 non-null   bool
 5   Department_Sales                  4353 non-null   bool
 6   Education_College                 4353 non-null   bool
 7   Education_Doctor                  4353 non-null   bool
 8   EducationField_Human Resources    4353 non-null   bool
 9   EducationField_Other              4353 non-null   bool
 10  EducationField_Technical Degree   4353 non-null   bool
 11  JobRole_Manager                   4353 non-null   bool
 12  JobRole_Manufacturing Director    4353 non-null   bool
 13  JobRole_Research Director         4353 non-null   bool
 14  JobRole_Sales Executive           4353 non-null   bool
 15  MaritalStatus_Divorced            4353 non-null   bool
 16  MaritalStatus_Married             4353 non-null   bool
 17  MaritalStatus_Single              4353 non-null   bool
dtypes: bool(16), int64(2)
memory usage: 136.2 KB

In [76]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso

# Selector de variables con Ridge
sel_ = SelectFromModel(Lasso(alpha=0.1,random_state=24), max_features=30)
sel_.fit(X, y)
print(sel_.estimator_.coef_)
#Obtener variables seleccionadas
X_new = sel_.get_support()

df_ridge = X.iloc[:,X_new]
df_ridge.info()

[-3.73585166e-03  0.00000000e+00 -1.61416294e-07  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -3.55988278e-03
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4353 entries, 0 to 4352
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             4353 non-null   int64
 1   YearsAtCompany  4353 non-null   int64
dtypes: int64(2)
memory usage: 68.1 KB

# Prueba de Selecciones

In [84]:
#Importar módulo de funciones
import sys
sys.path.insert(0, 'utils')  # Añadir el directorio 'utils' al PATH
import funciones
from importlib import reload
reload(funciones)  # Recarga el módulo

In [82]:
res_anova=funciones.regresionLogistica(df_anova,y)

------------------------------ TRAIN ------------------------------
Precision: 0.25691699604743085
Recall: 0.7034632034632035
Especificidad: 0.6887417218543046
F1 score: 0.3763752171395484
Train score:  0.6906950028719127
------------------------------ TEST ------------------------------
Precision : 0.24855491329479767
Recall : 0.7478260869565218
Especificidad : 0.656084656084656
F1 score : 0.3731019522776573
Test score:  0.6681974741676234

In [83]:
res_chi2= funciones.regresionLogistica(df_chi2,y)

------------------------------ TRAIN ------------------------------
Precision: 0.2573238321456849
Recall: 0.7034632034632035
Especificidad: 0.6894039735099338
F1 score: 0.37681159420289856
Train score:  0.6912693854106835
------------------------------ TEST ------------------------------
Precision : 0.2492753623188406
Recall : 0.7478260869565218
Especificidad : 0.6574074074074074
F1 score : 0.3739130434782609
Test score:  0.669345579793341

In [85]:
res_log=funciones.regresionLogistica(df_log,y)

------------------------------ TRAIN ------------------------------
Precision: 0.24960876369327073
Recall: 0.6904761904761905
Especificidad: 0.6824503311258279
F1 score: 0.3666666666666667
Train score:  0.6835152211372775
------------------------------ TEST ------------------------------
Precision : 0.22941176470588234
Recall : 0.6782608695652174
Especificidad : 0.6534391534391535
F1 score : 0.34285714285714286
Test score:  0.6567164179104478

In [86]:
res_ranfor=funciones.regresionLogistica(df_ranfor,y)

------------------------------ TRAIN ------------------------------
Precision: 0.2440944881889764
Recall: 0.670995670995671
Especificidad: 0.6821192052980133
F1 score: 0.3579676674364896
Train score:  0.6806433084434234
------------------------------ TEST ------------------------------
Precision : 0.24397590361445784
Recall : 0.7043478260869566
Especificidad : 0.667989417989418
F1 score : 0.36241610738255037
Test score:  0.6727898966704937

In [87]:
res_ridge=funciones.regresionLogistica(df_ridge,y)

------------------------------ TRAIN ------------------------------
Precision: 0.23113582208101668
Recall: 0.6298701298701299
Especificidad: 0.6794701986754967
F1 score: 0.3381754793724579
Train score:  0.6728891441700172
------------------------------ TEST ------------------------------
Precision : 0.21194029850746268
Recall : 0.6173913043478261
Especificidad : 0.6507936507936508
F1 score : 0.3155555555555556
Test score:  0.6463834672789897

In [89]:
df3=df2.drop('target',axis=1)

In [90]:
res_all= funciones.regresionLogistica(df3,y)

------------------------------ TRAIN ------------------------------
Precision: 0.2546728971962617
Recall: 0.7077922077922078
Especificidad: 0.6831125827814569
F1 score: 0.3745704467353952
Train score:  0.6863871338311315
------------------------------ TEST ------------------------------
Precision : 0.2455621301775148
Recall : 0.7217391304347827
Especificidad : 0.6626984126984127
F1 score : 0.36644591611479027
Test score:  0.6704936854190585